html {
  text-align: center;
  background-image: linear-gradient(to top, #a1c4fd 0%, #c2e9fb 100%);
  height: 100%;
  width: 100%;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editorContainer {
  padding: 1em;
  margin: 1em;
}

.editors {
  text-align: left;
  border: none;
  padding: 2em;
  border-radius: 8px;
  margin: 2em;
  font-family: "Open Sans";
  font-size: 100%;
  background-image: linear-gradient(to bottom, #fdfbfb 0%, #f6f7fb 100%);
}

.RichEditor-activeButton {
  background-color: #feb47b;
  color: white;
}

select {
  padding: 0.5em;
  border: none;
  margin: 0.35em;
  border-radius: 6px;
  font-family: "Open Sans";
  font-size: 13px;
  height: 2.25em;
}

button,
select {
  background-image: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.styleButton#bold {
  font-weight: bold;
}

.styleButton#italic {
  font-style: italic;
  font-family: serif;
}

.styleButton#underline {
  text-decoration: underline;
}

.toolbar {
  text-align: center;
  margin: 0.5em;
  padding: 0.5em;
}

.styleButton,
.RichEditor-styleButton {
  padding: 0.5em;
  background-image: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  border: none;
  margin: 0.35em;
  width: 2.75em;
  font-family: "Open Sans";
  font-size: 13px;
  height: 2.25em;
  border-radius: 4px;
}

.RichEditor-activeButton {
  background-color: #feb47b;
  color: white;
}
